const SETTINGS = {
    api_url: 'http://0.0.0.0:8080',
    db: {
        connection: 'mongodb://mongodb_image:27017',
        user: 'root',
        password: 'rootpassword'
    }
}

export default SETTINGS;