* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0;
}
div.field-row {
    margin: 0;
    padding: 0;
    line-height: 0;
    white-space: nowrap;
}
div.field-node {
    text-align: center;
    line-height: 2.7;
    font-size: 10px;
    display: inline-block;
    /*transition: background-color 1s ease-in;*/
}

.content-center {
    margin: auto;
}

div.block-rules p {
    margin: 0px;
    padding: 0px;
}

div#top .table-striped tbody tr:nth-of-type(odd) {
     background-color: rgb(235, 237, 240);
}

.col-settings {
    background-image: url('./web/build/img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 3% center;
}

.col-settings, .col-main, .col-score {
    display: flex;
}

.col-top {
    min-height: 375px;
}

.cursor-pointer {
    cursor: pointer;
}

.feedback {
    textarea.message {
        height: 180px;
    }
}

[v-cloak] { display: none; }
[v-cloak] > * { display:none }
